body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .Cuerpo30{
    color: black;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #faecd6;
    color: rgb(13, 13, 14);
    font-family: 'Open Sans', sans-serif;
    border: 0.1px solid rgb(255, 255, 255);
    width: 90%;
    
}
.columna12{
    width: 60%;
    height: 450px;
    margin-left: 2%;
    display: inline-flex;
}

.columna22{
    width: 850px;
    height: 450px;
    margin-left: 25%;
    margin-top: 1%;
        
}



.img24{
    width: 573px;
    height: 390px;
    margin-right: 15%;
    box-shadow: 0 0 5px rgb(214, 206, 206);
}

.columna3{
    background-color: #b04b4b;
    border: 0.1px solid rgb(197, 197, 197);
    color: black;    
    width: 100%;
    height: auto;
   
}

.texto{
    font-size: medium;
    color: rgb(113, 66, 66);
    margin-left: 15%;
    margin-top: 15px;
}

.texto10{
    width: 400px;
    color: #e0a4b8;
    margin-left: 5%;
}

.texto10:hover{
    width: 400px;
    background-color: #e0a4b8;
    color: aliceblue;
    margin-left: 5%;
}

.tamaño{
    width: 450px;
    height: 20px;
}
.tamaño1{
    width: 450px;
    height: 80px;
}

.columna26{
    width: 900px;
    height: 500px;
    margin-left: 5%;
    margin-top: 5px;    
}

.nombre{
    width: 450px;
    height: 35px;
}
.nombre1{
    width: 450px;
    height: 55px;
}

.box11{
    color:rgb(113, 66, 66) ;
    
}