body{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder{
  width: 960px;
  margin: 0 auto;
}

h2{
  font-weight: 400;
  color: rgba(44, 70, 104, 0.267);
  margin: 0 0 1em;

}